<div class="container z-depth-1 my-5 p-5">

  <!-- Section -->
  <section>

    <h3 class="font-weight-bold text-center dark-grey-text pb-2">POLÍTICA DE TRATAMIENTO Y PROTECCIÓN DE DATOS PERSONALES</h3>
    <hr class="w-header my-4">
    <p class="lead text-justify pt-2 mb-5">RED SAI, acogiendo y dando cumplimiento a lo dispuesto en la ley 1581 de 2012 y 
      el Decreto Reglamentario 1377 de 2013 y lo consignado en el artículo 15 de nuestra Constitución Política, adopta y aplica 
      la presente Política para el tratamiento de los datos personales. RED SAI, manifiesta que garantiza la intimidad, derechos a la privacidad, 
      y el buen nombre de las personas, durante el proceso del tratamiento de datos personales, en todas las actividades, las cuales tendrán los 
      principios de confidencialidad, seguridad, legalidad, acceso, libertad y transparencia.
      <br><br>
      Se compromete a no revelar la información que se digita o transfiere a nuestra empresa, de acuerdo con las normas de la Ley 527 
      que reglamenta el Comercio Electrónico en Colombia y la Ley 1581 de 2012 sobre el uso de datos confidenciales. Con la presente 
      Política de Tratamiento y Protección de Datos Personales, se suple dejando sin efecto acuerdos y políticas expedidas con anterioridad.
      <br><br>
      RED SAI, Para dar cumplimiento a las políticas de protección de datos y a las obligaciones de la Ley 1581 de 2012, sus Decretos 
      Reglamentarios y las demás normas que la complementen, adicionen, enriquezcan o modifiquen, tiene en cuenta lo siguiente 
      para el manejo de información y datos personales:
      <br><br>
      La información personal es uno de los activos más importantes, por lo tanto, el tratamiento de esta información se realiza con sumo 
      cuidado y atendiendo lo establecido por la ley, garantizando a las personas el pleno ejercicio y respeto por su derecho del Hábeas Data.
      <br><br>
      La información que se encuentra en la Base de Datos propia ha sido obtenida en desarrollo de la actividad de RED SAI, su recopilación 
      se ha hecho y se hará siempre atendiendo a los criterios y normatividad legal
    </p>

    <hr class="w-header my-4">
     
    <div class="row d-flex justify-content-center">
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">ALCANCE DE LA POLÍTICA DE PROTECCIÓN DE DATOS:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">La Política de Protección de Datos Personales de RED SAI se aplicará a todas las Bases de Datos 
          y/o archivos que contengan Datos Personales, que para RED SAI sea objeto de Tratamiento como responsable y/o encargado del 
          tratamiento de Datos Personales.
          <br><br>
          El Tratamiento de los Datos Personales se deberá hacer en los términos, condiciones y alcances de la autorización del Titular 
          y/o en aplicación de las normas especiales cuando proceda alguna excepción legal para hacerlo. Cualquier tipo de solicitud, 
          producto del ejercicio de los deberes y derechos consagrados en la política, podrá dirigirse a la Carrera 101 N° 15A -52 de la 
          ciudad de Cali, Colombia, con teléfono de contacto (072) 3321244 / (072) 4854646 y correo electrónico: servicioalcliente@redsai.com.co
        </p>
      </div>
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">RESPONSABLE DEL TRATAMIENTO DE DATOS PERSONALES</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">Actualícese, con sede principal en la Carrera 101 N° 15A -52 de la ciudad de Cali, Colombia, 
          con teléfono de contacto (072) 3321244 / (072) 4854646  y correo electrónico: servicioalcliente@redsai.com.co, será el responsable 
          del tratamiento de los datos personales y las bases de datos.          
        </p>
      </div>
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">FINALIDAD DE LA RECOLECCIÓN Y TRATAMIENTO DE DATOS PERSONALES:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted" >
        La finalidad de la Política de Protección de Datos Personales busca:
      </p >
        <ol class="text-muted ">
          <li>Instrumentar los procedimientos de recolección y tratamiento de datos personales a las disposiciones de la ley.</li>
          <li>Generar un esquema organizado para salvaguardar los datos privados, semiprivados, públicos y sensibles de sus titulares.</li>
        </ol> 
        <p class="text-muted mb-5 pb-2">
        La finalidad de RED SAI con respecto a la recolección y tratamiento de Datos Personales frente a:   
        </p>
      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">CLIENTES:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">Busca llevar a sus Usuarios y Suscriptores información y beneficios de valor agregado, 
          los cuales considera son útiles para el ejercicio de la profesión de los Agentes Inmobiliarios y carreras afines.
          <br><br>
          Por consiguiente, el Usuario acepta que RED SAI lo contacte por diferentes canales como teléfono fijo, teléfono celular, 
          mensajes de texto a su celular, correo electrónico y redes sociales, para ofrecerle información y beneficios, brindándole información, 
          beneficios y ofertas.    
        </p>
      </div>
      
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">EMPLEADOS:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">Esta finalidad incluye específicamente los pagos de salarios y obligaciones como empleador de las 
          afiliaciones y aportes a seguridad social y cajas de compensación, tanto de los empleados como de sus familiares y control de novedades 
          laborales como permisos, incapacidades, control de acceso y horario de trabajo del empleado.  
        </p>
      </div>
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">PROVEEDORES:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">Contacto permanente para solicitud de cotizaciones y gestión de las relaciones comerciales que surjan, 
          con el objeto de adquirir sus productos o servicios como insumos para el funcionamiento según la razón social de RED SAI.  
        </p>
      </div>
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">VISITANTES:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">RED SAI recibe en sus instalaciones con poca frecuencia y cantidades mínimas visitantes, teniendo 
          en cuenta que toda la venta de los servicios de RED SAI es vía internet y su funcionamiento por el mismo medio.  
        </p>
      </div>
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">DEFINICIONES:</p>
      </div>
      <div class="col-md-8">
        <ol>
          <li class="text-muted">Autorización: Consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de datos personales.</li>
          <li class="text-muted">Aviso de privacidad: Comunicación verbal o escrita generada por la responsable dirigida al Titular para el tratamiento 
            de sus datos personales, mediante la cual se le informa acerca de la existencia de las políticas de Tratamiento de información que le serán aplicables, 
            la forma de acceder a las mismas y las finalidades del Tratamiento que se pretende dar a los datos personales.
          </li>
          <li class="text-muted ">Base de Datos: Conjunto organizado de datos personales que sea objeto de Tratamiento.</li>
          <li class="text-muted ">Dato personal: Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.</li>
          <li class="text-muted ">Dato privado: Es el dato que por su naturaleza íntima o reservada sólo es relevante para el titular.</li>
          <li class="text-muted ">Datos sensibles: Se entiende por datos sensibles aquellos que afectan la intimidad del Titular o 
            cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial o étnico, la orientación política, 
            las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones sociales, de derechos humanos o que promueva 
            intereses de cualquier partido político o que garanticen los derechos y garantías de partidos políticos de oposición, así como los 
            datos relativos a la salud, a la vida sexual y los datos biométricos.
          </li>
          <li class="text-muted">Encargado del Tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el 
            Tratamiento de datos personales por cuenta del responsable del Tratamiento
          </li>
          <li class="text-muted">Responsable del Tratamiento: Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, 
            decida sobre la base de datos y/o el Tratamiento de los datos.
          </li>
          <li class="text-muted">Titular: Persona natural cuyos datos personales sean objeto de Tratamiento</li>
          <li class="text-muted">Tratamiento: Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, 
            uso, circulación o supresión de los mismos.
          </li>
          <li class="text-muted mb-5 pb-2">Términos y Condiciones: marco general en el cual se establecen las condiciones para los participantes de actividades promocionales 
            o afines.
          </li>
        </ol>
      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">AMBITO DE APLICACIÓN:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">Las políticas de tratamiento de Datos Personales deben ser conocidas y aplicadas por todos los funcionarios, 
          empleados, dependencias, clientes y proveedores de RED SAI.  
        </p>
      </div>
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">BASE DE DATOS DE RED SAI:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">Las políticas y procedimientos aplican a la Base de Datos que maneja RED SAI y serán registradas de conformidad con lo dispuesto en la ley.  
        </p>
      </div>
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">CONSULTA DE LA POLÍTICA:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">La Política de Protección de Datos Personales debe estar anunciada, presentada y dispuesta en el sitio oficial de RED SAI “redsai.com”, presentando fácil consulta y acceso por parte del público en general.  
        </p>
      </div>
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">DERECHOS DE LOS TITULARES DE LOS DATOS PERSONALES:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted ">Los titulares de los datos personales, son las personas naturales cuyos datos personales sean objeto de Tratamiento por parte de RED SAI.  
        <br><br>
        De acuerdo con lo contemplado por la normatividad vigente aplicable en materia de protección de datos, los siguientes son los derechos de los titulares de los datos personales, 
        los cuales los pueden ejercer en cualquier momento:
        </p>
        <ol>
          <li class="text-muted">Acceder, conocer, actualizar y rectificar los datos personales sobre los cuales RED SAI está realizando el Tratamiento. De igual manera, el titular puede solicitar en cualquier momento, 
            que sus datos sean actualizados o rectificados al encontrar que sus datos se encuentran parciales, incorrectos, inexactos, incompletos, fraccionados, induzcan a error, o aquellos cuyo tratamiento 
            no haya sido autorizado o sea expresamente prohibido.
          </li>
          <li class="text-muted">Ser informado por RED SAI, respecto del uso que le ha dado a sus datos personales.</li>
          <li class="text-muted">Revocar la autorización y/o solicitar la supresión del dato cuando en el tratamiento no se respeten los principios, 
            derechos, y las garantías constitucionales y legales.
          </li>
          <li class="text-muted">Solicitar prueba de la autorización otorgada a RED SAI para el tratamiento de datos, mediante cualquier medio válido, 
            salvo en los casos en que no es necesaria la autorización.
          </li>
          <li class="text-muted">Presentar ante la Superintendencia de Industria y Comercio, quejas por infracciones a lo dispuesto en la ley 1581 de 2012 
            y las demás normas que la modifiquen, adicionen o complementen, previo trámite de consulta o requerimiento ante RED SAI.
          </li>
          <li class="text-muted mb-5 pb-2">Acceder y consultar de forma gratuita a sus datos personales objeto de tratamiento.</li>
        </ol>
      </div>
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">ACTUALIZAR, CORREGIR,  RECTIFICAR O SUPRIMIR LOS DATOS DEL TITUAR:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted">El titular de los datos personales puede solicitar a RED SAI por medio de la tiquetera (xxxxxxxxxxxxxx) 
          de solicitudes, que sus datos personales tratados sean actualizados, corregidos, rectificados o suprimidos, 
          si así lo desea ó si considera que existe incumplimiento a cualquiera de los deberes en el Régimen General de Protección de 
          Datos Personales o en la presente Política.  
          <br><br>
          Para poder efectuar la actualización, corrección, rectificación o supresión, el Titular debe tramitar la solicitud dirigida al 
          responsable o encargado del tratamiento indicando:
        </p>
        <ol>
          <li class="text-muted">Nombre completo e identificación del titular de los datos.</li>
          <li class="text-muted">Descripción detallada de los hechos que dan lugar de la solicitud.</li>
          <li class="text-muted">Datos de ubicación del titular como la dirección, departamento, ciudad y teléfono de contacto.</li>
          <li class="text-muted">Descripción del procedimiento que desea realizar (actualización, corrección, rectificación o supresión).</li>
          <li class="text-muted">Y si considera necesario adjuntar documentos que soporten la solicitud (este punto es opcional).</li>
        </ol>
        <p class="text-muted mb-5 pb-2">Recibida la solicitud del Titular de los datos personales por medio de la tiquetera (actualicese.kayako.com/Tickets/Submit) de solicitudes, 
          con los puntos correctamente diligenciados para tramitarla de manera al responsable o encargado del tratamiento, manteniendo abierto el caso 
          en un término no mayor a cinco (5) días hábiles desde la fecha su recepción, tiempo en el que se debe dar respuesta y solución a la solicitud. 
          Así mismo, se tendrán dos (2) días hábiles para dar traslado a la persona encargada de darle solución (competente); si quien la recibe no 
          está legitimado para responderla, tendrá quince (15) días hábiles contados a partir del día de recepción de la solicitud para atenderla. 
          <br><br>
          De no cumplir el Titular con los puntos correctamente diligenciados para tramitar la solicitud dirigida al responsable o encargado del tratamiento, 
          se le solicitará al Titular (interesado) la corrección de los requisitos dentro de los siguientes cinco (5) días a la fecha de recepción. 
          Al transcurrir quince (15) contados a partir de la fecha, desde que se le solicita al Titular el cumplimiento de los requisitos establecidos, 
          y no obtener respuesta alguna o insistir en el procedimiento equivocado, se asimilará como desistimiento de la solicitud.
          <br>Si por parte de RED SAI, no ha sido posible dar respuesta a la solicitud dentro del término señalado, se le informará al Titular (interesado), 
          listando y detallando los motivos por los cuales no fue posible atender su solicitud y notificándole la fecha en la que será resuelta.<br>
        </p>
      </div>
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">REVOCAR LA AUTORIZACIÓN PARA TRATAR LOS DATOS PERSONALES:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">En cualquier momento el titular de los Datos Personales puede revocar la autorización para el tratamiento 
          de sus Datos Personales suministrados a RED SAI; para ello debe gestionar la solicitud dirigida al responsable del tratamiento o al 
          encargado del mismo, detallando el objeto de su solicitud.  
          <br><br>
          El Titular de los Datos Personales para poder gestionar la revocación ante RED SAI, debe llevar a cabo los mismos pasos y requisitos consagrados en el procedimiento para actualización, 
          corrección, rectificación o supresión de los datos personales.
        </p>
      </div>
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">CONSULTAS SOBRE EL TRATAMIENTO DE DATOS POR SUS TITULARES:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted">Los Titulares podrán consultar su información personal que tenga RED SAI, quien a su vez estará dispuesto a suministrar toda la información que esté vinculada con la identificación del Titular.  
          <br><br>
          Con respecto a la atención de solicitudes de consulta de Datos Personales, RED SAI garantiza:
        </p>
        <ol>
          <li class="text-muted">Habilitar medios de comunicación electrónica u otros que considere pertinentes.</li>
          <li class="text-muted">Utilizar la Tiquetera (actualicese.kayako.com/Tickets/Submit) que hace parte del servicio de atención al cliente (SAC), por medio de la cual se presta el servicio, 
            generan los contactados y se procesan las solicitudes.
          </li>
          <li class="text-muted">Ofrecer y notificar los formularios, sistemas y otros métodos de contacto.</li>
          <li class="text-muted mb-5 pb-2">Atender en un término máximo de quince (15) días hábiles los casos de atención de las solicitudes, 
            los cuales se contarán a partir de la fecha de solicitud. De no ser posible atenderla dentro del tiempo definido, 
            se informará al interesado antes de su vencimiento, notificando los motivos del retraso y la nueva fecha en que se dará solución. 
            Este nuevo plazo no podrá superar los cinco (5) días hábiles adicionales al plazo inicial.
          </li>
        </ol>
      </div>
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">HOJAS DE VIDA CANDIDATOS</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">RED SAI no publica ofertas en sus canales de comunicación para ningún cargo dentro de la empresa, 
          para tal fin utiliza empresas dedicadas a encontrar talentos, quienes cuentan con sus herramientas y términos y condiciones de uso, 
          las cuales regulan las políticas frente al tratamiento de la información que ingresen los aspirantes a iniciar el proceso de selección, 
          y manejan sus portales para la consecución del personal. RED SAI, al momento de requerir el cubrimiento de una vacante o abrir una nueva plaza, 
          lo tramita por medio de estas empresas, garantizando que el perfil buscado sea filtrado, preseleccionado y presentado por las empresas especializadas 
          en el tema, y que el manejo de los datos personales, sea el necesario y requerido.
          <br><br>
          RED SAI no es una empresa dedicada a buscar, ubicar, canalizar y contactar posibles candidatos para una vacante, 
          por lo tanto y si por algún motivo un candidato nos hace llegar su hoja de vida de forma electrónica o física por algún medio de contacto, 
          RED SAI deja a disposición del candidato o interesado, en cualquier momento la posibilidad de revocar la autorización para el 
          tratamiento de sus datos personales suministrados a RED SAI de manera totalmente voluntaria, gestionando la solicitud dirigida al 
          responsable del tratamiento o al encargado del mismo y detallando el objeto de su solicitud.
          <br><br>
          Si un candidato o interesado envía su hoja de vida directamente a RED SAI por algún medio de contacto, 
          y no se ha adicionado como una preselección en algún proceso, se procede de inmediato a la eliminación de la hoja de vida de todos 
          los registros de RED SAI, garantizando la protección de sus datos personales y evitando que sean utilizados para actividades o 
          procesos de selección en los cuales el candidato no manifiesta su interés en participar.
          <br><br>
          El auto candidato de los Datos Personales debe gestionar la revocación ante RED SAI, 
          llevando a cabo los mismos pasos y requisitos consagrados en el procedimiento para su actualización, 
          corrección, rectificación o supresión de los datos personales.
        </p>
      </div>
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">CATEGORÍA DE LOS DATOS:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted">RED SAI en desarrollo del principio de autonomía privada, y de acuerdo con los datos tratados, y según la legislación vigente, ha elaborado la siguiente clasificación de datos:           
        </p>
        <ol>
          <li class="text-muted">Dato Personal: Conjunto de información susceptible de relacionarse a una o más personas naturales.</li>
          <li class="text-muted">Dato público: Es dato público todo aquel contenido en documentos públicos, relativo al estado civil de las personas, 
            a su profesión u oficio y a su calidad de comerciante o de servidor público. Son datos públicos, por ejemplo, 
            los contenidos en la cédula de ciudadanía, en registros públicos, en sentencias judiciales debidamente ejecutoriadas 
            y no sometidas a reserva. Por lo anterior, será también dato público el que no es semiprivado, privado o sensible.
          </li>
          <li class="text-muted">Dato semiprivado: Es aquel cuyo conocimiento o divulgación interesa a su titular y a un determinado grupo de personas o sector social. 
            Por ejemplo, la actividad comercial o profesional.
          </li>
          <li class="text-muted">Dato privado: Es aquel cuyo conocimiento o divulgación, por tener naturaleza íntima y reservada, interesa sólo a su titular.</li>
          <li class="text-muted">Dato reservado: Es aquel que posee una naturaleza confidencial o un alto valor comercial por sí mismo.</li>
          <li class="text-muted mb-5 pb-2">Dato sensible: Es aquel que afecta la intimidad de su titular o que su uso indebido puede generar discriminación. 
            Por ejemplo, aquellos relativos a la orientación sexual, la orientación política, el origen étnico o racial, las convicciones 
            religiosas o filosóficas, la participación en grupos sindicales, de Derechos Humanos o sociales, entre otros.
          </li>
        </ol>
      </div>
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">TRATAMIENTO DE DATOS PERSONALES DE NATURALEZA SENSIBLE:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted">De acuerdo con la Ley de Protección de Datos Personales, se consideran como datos de naturaleza sensible 
          aquellos que afectan la intimidad o cuyo uso indebido puede generar discriminación.
          <br><br>
          El Tratamiento de los Datos Personales de naturaleza sensible está prohibido por la ley, salvo que se cuente con autorización expresa, 
          previa e informada del Titular, entre otras excepciones consagradas en el Artículo 6º de la Ley 1581 de 2012. Los datos de 
          naturaleza sensible son los relacionados con:
        </p>
        <ol>
          <li class="text-muted">Origen racial o étnico.</li>
          <li class="text-muted">Orientación política.</li>
          <li class="text-muted">Convicciones religiosas / filosóficas.</li>
          <li class="text-muted">Pertenencia a sindicatos, organizaciones sociales, organizaciones de derechos humanos o partidos políticos.</li>
          <li class="text-muted">Vida sexual.</li>
          <li class="text-muted">Datos biométricos (como la huella dactilar, la firma y la foto).</li>
        </ol>
        <p class="text-muted mb-5 pb-2">Ninguna actividad podrá condicionarse a que el titular suministre datos personales sensibles.        
        </p>
      </div>
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">MARCO NORMATIVO Y LEGAL:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted">Las políticas de protección de Datos Personales de RED SAI se rigen por las siguientes normas de manera interna y externa:         
        </p>        
        <p class="text-muted">LEY 527 DE 1999:
          Define y reglamenta el acceso y uso de los mensajes de datos, del comercio electrónico y de las firmas digitales, y se establecen las entidades de certificación y se dictan otras disposiciones.                   
         <br>
          Así  mismo,  introduce  el  concepto  de  equivalente  funcional,  firma  electrónica  como  mecanismos  de  autenticidad,  disponibilidad y confidencialidad de la información.
        </p>
        <p class="text-muted">LEY 1266 DE 2008:
          Por la cual se dictan las disposiciones generales del Hábeas Data y se regula el manejo de la información contenida en bases de datos personales, 
          en especial la financiera, crediticia, comercial, de servicios y la proveniente de terceros países y se dictan otras disposiciones.
        </p>
        <p class="text-muted">LEY 1273 DE 2009:
          Ley por medio de la cual se crea y se protege el bien jurídico de la información y los datos personales. Así mismo, se tipifican  conductas  penales  como  daño  informático,  
          violación  de  datos  personales,  acceso  abusivo  a  sistema informático, interceptación de datos informáticos,  hurto por medios  informáticos, entre otras.
        </p>
        <p class="text-muted">LEY 1581 DE 2012:
          Por la cual se dictan disposiciones generales para la protección de datos personales.
        </p>
        <p class="text-muted">DECRETO 1377 DE 2013:
          Con  el  cual  se  reglamenta  la  Ley  1581  de  2012,  sobre  aspectos  relacionados  con  la  autorización  del  Titular  de información  para  el  Tratamiento  de  sus  datos  personales,  
          las  políticas  de  Tratamiento  de  los  Responsables  y  Encargados, el ejercicio de los derechos de los Titulares de información, las transferencias de datos personales y la 
          responsabilidad demostrada frente al Tratamiento de datos personales.
        </p>
        <p class="text-muted">DECRETO 368 DE 2014:
          Por el cual se reglamentan las operaciones mediante sistemas de financiación previstas en el artículo 45 de la Ley 1480 de 2011.
        </p>
        <p class="text-muted mb-5 pb-2">DECRETO 886 DE 2014:
          Por el cual se reglamenta el artículo 25 de la Ley 1581 de 2012, relativo al Registro Nacional de Bases de Datos Personales, 
          el cual se encuentra a cargo de la Superintendencia de Industria y Comercio, y donde quienes actúen como  Responsables  
          del  tratamiento  de  datos  personales,  deberán  registrar  sus  Bases  de  Datos  siguiendo  las  instrucciones de este decreto.
        </p>        
      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">FUNCIONES DEL RESPONSABLE DEL TRATAMIENTO DE DATOS PERSONALES:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted">Dentro de las funciones del responsable del tratamiento de los datos personales, se encuentra el nombramiento de una persona al interior de la empresa que cumpla con las siguientes funciones:         
        </p>        
       <ol>
         <li class="text-muted">Garantizar la elaboración, implementación y promoción de un sistema que permita administrar los riesgos del tratamiento de datos personales.</li>
         <li class="text-muted">Comunicar e impulsar una cultura de protección de datos dentro de la organización</li>
         <li class="text-muted">Integrar y enlazar todas las áreas de RED SAI para asegurar una implementación transversal de las Políticas de Protección de Datos Personales.</li>
         <li class="text-muted">Verificar y auditar que las Bases de Datos de RED SAI sean registradas en el Registro Nacional de Bases de Datos, y actualizar el reporte según 
           las instrucciones de la Superintendencia de Industria y Comercio.
          </li>
          <li class="text-muted">Programar y garantizar un entrenamiento constante de la compañía en la protección de datos personales.</li>
          <li class="text-muted">Analizar y diagnosticar las responsabilidades de los cargos dentro de RED SAI, para liderar el programa de capacitación en la protección de datos personales.</li>
          <li class="text-muted">Garantizar que dentro del proceso de análisis de desempeño de los empleados, el entrenamiento y uso sobre la protección de datos personales, se encuentre en un nivel alto.</li>
          <li class="text-muted">Realizar la capacitación y transmitir la responsabilidad a los nuevos empleados que por las condiciones de su trabajo, tengan acceso a las Bases de Datos.</li>
          <li class="text-muted">Organizar y hacer seguimiento a la implementación de planes de auditoría interna, para verificar el cumplimiento de las políticas de tratamiento de datos personales</li>
          <li class="text-muted mb-5 pb-2">Obtener cuando sea requerido, las declaraciones de conformidad de la Superintendencia de Industria y Comercio.</li>
       </ol>         
      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">CONFIDENCIALIDAD Y SEGURIDAD DE LA BASE DE DATOS:</p>
      </div>
      <div class="col-md-8 mb-5 pb-2">
        <p class="text-muted">RED SAI aplicará las mejores prácticas para la seguridad, discreción, 
          protección, almacenamiento y confidencialidad de los Datos Personales de los titulares. 
          Verificará cuando corresponda, la procedencia de las excepciones legales para entregar 
          los datos personales a las autoridades y en los casos pertinentes.         
        </p>               
      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">GARANTÍAS DE ACCESO AL TITULAR A LOS DATOS PERSONALES:</p>
      </div>
      <div class="col-md-8 mb-5 pb-2">
        <p class="text-muted">RED SAI garantiza el derecho de acceso al titular de los datos, 
          con previa acreditación de su identidad, legitimidad y sin ningún costo, a sus datos 
          personales a través de diferentes medios, principalmente electrónicos que permitan 
          el acceso directo del titular a ellos. Dicho acceso deberá ofrecerse sin límite 
          alguno y se le debe permitir al titular la posibilidad de conocerlos y actualizarlos 
          en línea.         
        </p>               
      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">ACTUALIZACIÓN DE LAS BASE DE DATOS:</p>
      </div>
      <div class="col-md-8 mb-5 pb-2">
        <p class="text-muted">Actualizar la información conforme se obtengan los datos, de conformidad con lo señalado en la ley 1581 de 2012.         
        </p>               
      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">PRUEBA DE LA AUTORIZACIÓN DEL TITULAR:</p>
      </div>
      <div class="col-md-8 mb-5 pb-2">
        <p class="text-muted">Conservar la prueba de la autorización otorgada por los titulares de los 
          datos personales para su tratamiento, utilizando mecanismos digitales y reglas de seguridad 
          necesarias para mantener el registro de la forma y fecha. RED SAI establece los repositorios 
          electrónicos para salvaguardar la información.         
        </p>               
      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">INSCRIPCIÓN EN EL REGISTRO DE BASE DE DATOS DE LA SUPERINTENDENCIA DE INDUSTRIA Y COMERCIO:</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted">RED SAI cumplirá las obligaciones que la normatividad le imponga en 
          relación con el registro e informes que debe entregar a las autoridades competentes. 
          Para efectos del registro de la Base de Datos, se realizará un procedimiento teniendo 
          en cuenta los siguientes parámetros:         
        </p>   
        <ol>
          <li class="text-muted">Cantidad de bases de datos con información personal.</li>
          <li class="text-muted">Cantidad de titulares por cada base de datos.</li>
          <li class="text-muted">Información detallada de los canales o medios que se tienen previstos para atender a los titulares.</li>
          <li class="text-muted">Tipo de datos personales contenidos en cada base de datos, a los que se realiza tratamiento, como: datos de identificación, ubicación, socioeconómicos, sensibles u otros.</li>
          <li class="text-muted">Ubicación física de las bases de</li>
          <li class="text-muted">Al respecto se preguntará si la base de datos se encuentra almacenada en medios propios, 
            por ejemplo archivadores o servidores (dependiendo de si se trata de un archivo 
            físico o una base de datos electrónica), internos o externos a las instalaciones físicas del responsable.
          </li>
          <li class="text-muted">Cuando el tratamiento de los datos personales se realice a  través  de  
            un(os) encargado(s) del tratamiento, se solicitarán los datos de identificación y 
            ubicación de ese (esos) encargado(s).
          </li>
          <li class="text-muted">Medidas de seguridad y/o controles implementados en la base de datos para minimizar 
            los riesgos de uso no adecuado de los datos personales tratados.
          </li>
          <li class="text-muted">Información sobre si se cuenta con la autorización de los titulares de los datos contenidos en las bases de datos.</li>
          <li class="text-muted mb-5 pb-2">Forma de obtención de los datos (directamente del titular o mediante terceros).</li>
        </ol>            
      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">REDES SOCIALES:</p>
      </div>
      <div class="col-md-8 mb-5 pb-2">
        <p class="text-muted">Las redes sociales como Facebook y Twitter, constituyen plataformas 
          complementarias de divulgación de la información (comunicación), las cuales son de gran 
          interconexión de los medios digitales de los usuarios y no se encuentran bajo la 
          responsabilidad de RED SAI por ser ajenas a la empresa.
          <br><br>
          Toda la información que los usuarios proporcionan en las redes sociales en las que participa 
          RED SAI, como usuario no constituye ni forma parte de los Datos Personales sujetos a la 
          protección de esta Política, siendo de total responsabilidad de la empresa prestadora de esa 
          plataforma.         
        </p>              
      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">TRATAMIENTO DE DATOS COMERCIALES:</p>
      </div>
      <div class="col-md-8 mb-5 pb-2">
        <p class="text-muted">RED SAI tramitará los datos comerciales e información financiera que 
          considere necesaria para el cumplimiento de su objeto social y para toda celebración de 
          contratos con terceros. Los datos de los mismos, serán tratados con la intimidad, derechos 
          a la privacidad, el buen nombre de las personas, dentro del proceso del tratamiento de 
          datos personales, y durante todas las actividades que tendrán los principios de 
          confidencialidad, seguridad, legalidad, acceso, libertad y transparencia.
          <br><br>
          Para tal efecto, se reglamenta la firma del Acuerdo de Confidencialidad para la entrega de 
          Datos con todos los proveedores.         
        </p>              
      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">TRATAMIENTO DE DATOS DE EMPLEADOS DIRECTOS DE LA EMPRESA:</p>
      </div>
      <div class="col-md-8 mb-5 pb-2">
        <p class="text-muted">Todos los datos suministrados por los empleados de RED SAI serán almacenados, compilados, 
          utilizados, compartidos, consultados, transmitidos, intercambiados y transferidos, para dar cumplimiento a 
          las obligaciones derivadas de la relación laboral y al ejercicio de los derechos como empleador.
          <br><br>
          Toda la información relativa a los empleados o ex empleados de RED SAI, serán conservados con el fin de que la Compañía, 
          pueda cumplir sus obligaciones como empleador y ejercer los derechos que en esa misma condición le corresponden, de 
          acuerdo con la legislación laboral Colombiana.
          <br><br>
          Al momento del ingreso a RED SAI de empleados nuevos con contrato laboral, es requisito que al momento del inicio 
          de sus labores asignadas, manifiesten conocer, aceptar y aplicar las Políticas de Protección de Datos Personales.      
          <br><br>
          Para dar por finalizado el proceso de vinculación de un nuevo empleado en RED SAI, es necesario garantizar de el 
          empleado la firma y aceptación de la presente política.
        </p>              
      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">VIGENCIA DE LA POLÍTICA:</p>
      </div>
      <div class="col-md-8 mb-5 pb-2">
        <p class="text-muted">La presente política rige a partir de la fecha de su publicación y 
          deja sin efectos las demás disposiciones institucionales que le sean contrarias. 
          Toda información no contemplada en la presente política, se reglamentará de acuerdo 
          al Régimen General de Protección de Datos Personales vigente en Colombia.
          <br><br>
          La actualización de la Políticas de Protección de Datos Personales dependerá de las 
          instrucciones y lineamientos de la Dirección Ejecutiva de la RED SAI, así como de las 
          extensiones reglamentarias del ente de vigilancia y control, la Superintendencia de 
          Industria y Comercio.
          <br><br>
          Cualquier inquietud adicional nos puede escribir al correo serivioalcliente@redsai.com,
          los mensajes serán atendidos a la mayor brevedad posible.
        </p>              
      </div>
    </div>

  </section>
  <!-- Section -->

</div>