<div class="container z-depth-1 my-5 p-5">

  <!-- Section -->
  <section>

    <h3 class="font-weight-bold text-center dark-grey-text pb-2">POLÍTICA DE USO DE COOKIES</h3>
    <hr class="w-header my-4">
    <p class="lead text-justify pt-2 mb-5">De conformidad con la legislación sobre protección de datos personales, 
      Ley 1581 de 2012 y Decreto 1377 de 2013, y demás normas que las modifiquen, adicionen o sustituyan, informamos 
      que Red social para agentes inmobiliarios s.a.s en adelante RED SAI, en sus sitios web: redsocialinmobiliarios.com, 
      pueden utilizar cookies tanto propias como de terceros en diversas finalidades. 
      <br><br>
      Por lo anterior, a continuación, presentamos la POLÍTICA DE USO DE COOKIES adoptada por RED SAI, en adelante LA EMPRESA, 
      la cual contiene la información necesaria que debe conocer todo usuario de las páginas web sobre el uso de las cookies 
      que realiza LA EMPRESA o los terceros que esta contrate. LA EMPRESA podrá modificar el presente documento en cualquier 
      momento para mantenerlo vigente y actualizado. Por lo anterior, recomendamos a los usuarios revisar la fecha de elaboración o 
      actualización del mismo, la cual se establece al final del presente documento.      
    </p>

    <hr class="w-header my-4">
     
    <div class="row d-flex justify-content-center">
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">Definición y tipos de cookies.</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted">Una cookie son pequeños archivos de información que se descargan en el ordenador, 
          Smartphone o Tablet del usuario al acceder a determinadas páginas web para almacenar y recuperar información sobre la 
          navegación que se efectúa desde dicho equipo. A través de las cookies, las páginas web recuerdan información sobre la visita de los usuarios, 
          lo que permite que se proporcione una mejor y más segura experiencia de navegación en el mismo. Las cookies se asocian tanto a usuarios anónimos, 
          es decir, aquellos que visitan los Portales sin identificarse o registrarse, como aquellos que si lo hacen.
          <br><br>
          Por otro lado, las cookies no son un virus o cualquier otro tipo de programa malicioso que pueda dañar dispositivos de los usuarios. 
          Las cookies no pueden borrar ni leer información del computador o dispositivo de los usuarios.
          <br><br>
          Las cookies se crean o actualizan en el computador o dispositivo del usuario de manera automática, cuando éste accede a la página web de LA EMPRESA, 
          lo cual permite a la misma o a las terceras personas que esta contrate, realizar seguimiento a las cookies del usuario y por ende a la información 
          que estas cookies contienen u obtienen del usuario. Es importante aclarar que las cookies solo son leídas por el sitio web que las creó.
          <br><br>
          LA EMPRESA podrá compartir información obtenida a través de las cookies con personas externas o terceros (aliados, clientes, proveedores o empresas 
          vinculadas a LA EMPRESA), con el fin de mejorar los servicios al usuario. Así mismo, la información que se recibe a través de las cookies será 
          utilizada por LA EMPRESA y los anteriores terceros, para los fines descritos en el presente documento, y cualquiera de sus actualizaciones.
          <br><br>
          Existen diferentes tipos de cookies, las cuales pueden ser clasificadas en función a quien las ha creado, cuanto tiempo duran y, finalmente, que finalidad tienen.
        </p>
        <ul>
          <li class="text-muted">Creación - Cookies propias o de terceros: son propias cuando las cookies se gestionan desde el terminal o dominio de un mismo editor, mientras que son de terceros, 
            cuando no las envía el propio editor, sino otra entidad.
          </li>
          <li class="text-muted">Tiempo - Cookies de sesión y persistentes: en cuanto a las cookies de sesión, los datos recolectados sólo se almacenarán mientras el usuario este navegando 
            por la página web. En el caso de las persistentes, los datos continúan almacenados en el terminal y se puede acceder a ellos durante un período de tiempo determinado.
          </li>
          <li class="text-muted mb-5 pb-2">Finalidad - Cookies técnicas/personalización/análisis/publicitarias: las cookies técnicas son aquellas que permiten controlar el tráfico y la comunicación de datos; 
            las cookies de personalización, las que dejan a los usuarios acceder según algunas características propias que se recogen (navegador, idioma, etc.), como, por ejemplo, 
            personalizar la página de inicio del buscador. Las cookies de análisis recogen datos sobre el comportamiento de los usuarios y permiten elaborar un perfil de usuario. 
            De este modo se pueden analizar y detectar hábitos de navegación y mejorar la web, blog o e-Commerce para adaptarse a las necesidades de navegación de los usuarios. 
            Por último, las publicitarias recogen datos sobre la gestión de los espacios publicitarios. Este tipo de cookies permiten, por ejemplo, mostrarles a los usuarios 
            banners de publicidad de la que puedan estar potencialmente interesados.
          </li>
        </ul>
        <p class="text-muted mb-5 pb-2">En particular, LA EMPRESA utiliza las siguientes cookies con los siguientes propósitos o finalidades:</p>

      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">Cookies estrictamente necesarias</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">Estas cookies son necesarias para que el sitio web funcione y no se pueden desactivar en nuestros sistemas. 
          Por lo general, solo se configuran en respuesta a sus acciones realizadas al solicitar servicios, como establecer sus preferencias 
          de privacidad, iniciar sesión o completar formularios. Puede configurar su navegador para bloquear o alertar sobre estas cookies, 
          pero algunas áreas del sitio no funcionarán. Estas cookies no almacenan ninguna información de identificación personal.
        </p>       
      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">SE PUEDEN DESHABILITAR LA INSTALACIÓN Y USO DE COOKIES</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted">El usuario puede deshabilitar tanto la instalación de las cookies como el uso de las mismas por parte de LA EMPRESA. 
          Para deshabilitar la instalación y uso de cookies el usuario deberá realizar el procedimiento por navegador tal como se indica a continuación:
        </p>
        <ul>
          <li class="text-muted">Internet Explorer: Herramientas -> Opciones de Internet -> Privacidad -> Configuración.</li>
          Para más información, puede consultar el Soporte de Microsoft o la Ayuda del navegador
          <li class="text-muted">Firefox: Herramientas -> Opciones -> Privacidad -> Historial -> Configuración Personalizada.</li>
          Para más información, puede consultar el Soporte de Mozilla o la Ayuda del navegador.
          <li class="text-muted">Chrome: Configuración -> Mostrar opciones avanzadas -> Privacidad -> Configuración de contenido.</li>
          Para más información, puede consultar el Soporte de Google o la Ayuda del navegador.
          <li class="text-muted">Safari: Preferencias -> Seguridad.</li>
          Para más información, puede consultar el Soporte de Apple o la Ayuda del navegador.
        </ul>
        <p class="text-muted mb-5 pb-2">Los sistemas de opt-out indicados anteriormente pueden conllevar que se instale en su equipo una cookie "de rechazo" para que 
          funcione su elección de desactivación.
        </p>
      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">Cookies estrictamente necesarias</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">Estas cookies son necesarias para que el sitio web funcione y no se pueden desactivar en nuestros sistemas. 
          Por lo general, solo se configuran en respuesta a sus acciones realizadas al solicitar servicios, como establecer sus preferencias 
          de privacidad, iniciar sesión o completar formularios. Puede configurar su navegador para bloquear o alertar sobre estas cookies, 
          pero algunas áreas del sitio no funcionarán. Estas cookies no almacenan ninguna información de identificación personal.
        </p>       
      </div>

      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">QUÉ OCURRE SI SE DESHABILITAN LAS COOKIES</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted">Si el usuario deshabilita la instalación o el uso de las cookies para los Portales, 
          podrá perder o afectar algunas funcionalidades del sitio, como por ejemplo:
        </p>
        <ul>
          <li class="text-muted">Poder ingresar a los Portales sin necesidad de indicar en cada ocasión su usuario y contraseña, 
            esto le ahorrará tiempo y le permitirá utilizar funcionalidades como boletines, alertas, noticias guardadas, entre otros.
          </li>
          <li class="text-muted">Publicación de comentarios dentro de los Portales.</li>
          <li class="text-muted">Acceso al contenido sin restricción dentro de los Portales.</li>
          <li class="text-muted">Seguridad en el uso de la información que se ingresa en los Portales.</li>
          <li class="text-muted mb-5 pb-2">Rapidez en el uso de algún servicio dentro de los Portales.</li>
        </ul>
        <p class="mb-5 pb-2">En caso de dudas o inquietudes acerca del uso de cookies o sobre cualquiera de los puntos detallados en esta Política, 
          por favor escriba a uno de los siguientes correos electrónicos: servicioalcliente@redsai.com.co</p>
      </div>

    </div>

  </section>
  <!-- Section -->

</div>