<app-navbar></app-navbar>
<div class="container my-5">
  <!--Section: Content-->
  <section class="">

    <!-- Section heading -->
    <h2 class="text-center font-weight-bold mb-5">Nuevas publicaciones</h2>
          <!--Section: Action elements-->
<section class="mb-4">
  <form [formGroup]="myForm">

  <div class="card p-2 mb-4">

    <!--Grid row-->
    <div class="row">
      <div class="col-md-3">
        <ng-autocomplete formControlName="Departamento"
        [data]="data1"
        [searchKeyword]="keyword"
        placeHolder=" Departamento*"
        (selected)='selectEvent($event)'
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
        >
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>
          
          <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
          </ng-template>
      </div>
      
      <div class="col-md-3">
        <ng-autocomplete formControlName="Ciudad"
        [data]="data"
        [searchKeyword]="keyword"
        placeHolder="Ciudad*"
        (selected)='selectEventBarrios($event)'
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
        >
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>
          
          <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
          </ng-template>
      </div>
      <div class="col-md-3">
        <ng-autocomplete formControlName="Barrio"
        [data]="data2"
        [searchKeyword]="keyword"
        placeHolder="Barrio*"
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
        >
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item.name"></a>
        </ng-template>
          
          <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
          </ng-template>
      </div>
      <div class="col-md-3">
        <button class="btn btn-info" 
        (click)="onSubmit()">
        Busqueda de inmueble <i class="fas fa-share ml-1 white-text"></i>
      </button>
      </div>
    </div>
    <!--Grid row-->
    
  </div>
</form>
</section>


<!--Section: Action elements-->
  <div class="row">
  	<div class="col-md-6 mb-4">

      <h3 class="text-center my-2">Ventas</h3>
      <br>
      <!--Card-->
      <div *ngFor="let property of propertys">
      <div class="card">

        <!--Card image-->
       
        <div class="view" >                      
          <a href="/property/{{ property._id }}">
            <img src="{{ property.Imagenes[0] }}" alt="placeholder" data-size="1600x1067"
            class="img-fluid">
          </a>
          <!--<div *ngFor="let Images of property.Images | keyvalue">            
            <img src="{{ Images.value }}" class="card-img" alt="">
            <a>
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>-->
          
        </div>
        <!--/.Card image-->
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title"><strong>{{ property.TipoOferta }} {{ property.TipoInmueble }}:</strong> {{ property.NombreInmueble }}</h4>
          <hr>
          <!--Text-->
          <p class="card-text mb-3">{{ property.DescripcionInmueble }}</p>
          <p class="card-text mb-3"><strong>Precio: </strong>{{ property.Precio | currency }}</p>          
            <div class="row">
              <div ng-if="property.Banios" class="col-md-3">
                <p class="mb-0 font-small font-weight-bold ">Baños: {{ property.Banios }}</p>
              </div>
              <div ng-if="property.Habitaciones" class="col-md-4">
              <p class="mb-0 font-small font-weight-bold">Habitaciones: {{ property.Habitaciones }}</p>
              </div>
              <div ng-if="property.Garaje" class="col-md-3">
                <p class="mb-0 font-small font-weight-bold">Garaje: {{ property.Garaje }}</p>
              </div>
              <div ng-if="property.Asensor" class="col-md-3">  
              <p class="mb-0 font-small font-weight-bold">Asensor: {{ property.Asensor }}</p>
              </div>  
            </div>
            <br>
            <div class="mb-3">
              <div class="row">
                <div ng-if="property.Departamento" class="col-md-6">                  
                  <h6>Departamento: {{ property.Departamento }}</h6>                  
                </div>
                <div ng-if="property.Ciudad" class="col-md-6">
                  <h6>Ciudad: {{ property.Ciudad }}</h6>
                </div>
                <div ng-if="property.Barrio" class="col-md-6">
                  <h6>Barrio: {{ property.Barrio }}</h6>
                </div>
              </div>
            </div>
            <p class="font-small font-weight-bold dark-grey-text mb-1"><i class="far fa-clock-o"></i>
             Publicado {{ property.createdAt | amLocale: 'es' | amTimeAgo }}</p>
            <a href="/profile/{{ property.user._id }}"><p class="font-small grey-text mb-0">{{ property.user.nombres }}</p></a>    
            <p>Si desea más información del inmueble, por favor ingrese a mi perfil y escríbame al correo o contácteme por WhatsApp o por llamada al número de celular.</p>        
        </div>
        <!--/.Card content-->
        <div class="card-body" >
          <div class="mb-2"> 
            <strong>Comentarios: </strong>
          </div>
          <app-comments [property]="property"></app-comments>
        </div>
      </div>
      <br>
    </div>
      <!--/.Card-->
    </div>
    
    <div class="col-md-6 mb-4" style="background-color:#f1f1f1">
        
      <h3 class="text-center my-2">Compras</h3>
      <br>
      <app-shopping></app-shopping>
    <br>
      <!--Card-->
      <div *ngFor="let shopping of shoppings">
        <div class="card">        
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title"><strong>{{ shopping.NombreInmueble }}</strong></h4>
            <hr>
            <!--Text-->
            <p class="card-text mb-3">{{ shopping.DescripcionInmueble }}</p>
            <br>
            <div class="mb-3">
              <div class="row">
                <div ng-if="shopping.Departamento.name" class="col-md-6">
                  <h6>Departamento: {{ shopping.Departamento }}</h6>
                </div>
                <div ng-if="shopping.Ciudad.name" class="col-md-6">
                  <h6>Ciudad: {{ shopping.Ciudad }}</h6>
                </div>
                <div ng-if="shopping.Barrio" class="col-md-6">
                  <h6>Barrio: {{ shopping.Barrio }}</h6>
                </div>
              </div>
            </div>

              <p class="font-small font-weight-bold dark-grey-text mb-1"><i class="far fa-clock-o"></i>
                Publicado {{ shopping.createdAt | amLocale: 'es' | amTimeAgo }}</p>
                <a href="/profile/{{ shopping.user._id }}"><p class="font-small grey-text mb-0">{{ shopping.user.nombres }}</p></a>
            <!-- <p class="text-right mb-0 font-small font-weight-bold"><a>Enviar mensaje <i class="fas fa-angle-right"></i></a></p>-->
            <p>Si desea más información del inmueble, por favor ingrese a mi perfil y escríbame al correo o contácteme por WhatsApp o por llamada al número de celular </p>
          </div>
          <!--/.Card content-->
          <div class="card-body">
            <div class="mb-2"> 
              <strong >Comentarios: </strong>
            </div>
          <app-comments-shopping [shopping]="shopping"></app-comments-shopping>
        </div>
        </div>
        <br>
      </div>
        <!--/.Card--> 
      </div>
    </div>
    
    <div class="text-center mt-4 mb-5">
      <a class="black-text font-weight-bold" href="#!">Mas Inmuebles <i class="fa fa-angle-right"></i></a>
    </div>

  </section>
  <!--Section: Content-->


</div>

<app-footer></app-footer>