<div class="container z-depth-1 my-5 p-5">

  <!-- Section -->
  <section>

    <h3 class="font-weight-bold text-center dark-grey-text pb-2">TERMINOS Y CONDICIONES DE USO</h3>
    <hr class="w-header my-4">
    <p class="lead text-justify pt-2 mb-5">Esta página web es propiedad y está operado por Red social para agentes inmobiliarios s.a.s siglas RED SAI.
      sociedad comercial debidamente constituida bajo las leyes colombianas, que cuenta con él, Este contrato establece los términos y condiciones bajo los cuales tú puedes usar nuestra página web y servicios ofrecidos por nosotros;
      en tu calidad de Usuario Registrado, persona natural o jurídica plenamente capaz para celebrar y obligarse conforme a estos Términos. Si eres persona natural, declaras que eres mayor de edad y tienes capacidad plena para obligarte.
      Esta página web ofrece a los usuarios una red social creada para la interacción comercial entre agentes inmobiliarios en Latinoamérica, con el fin de que los agentes inmobiliarios se apropien de las ventas y alquileres de los inmuebles en cada país;
      creamos un lugar donde pueden interactuar entre si de una forma transparente y positiva para realizar negocios de manera rápida y segura. Al acceder o usar la página web de nuestro servicio, usted aprueba que haya leído, entendido y aceptado estar sujeto a estos Términos:
    </p>

    <div class="row d-flex justify-content-center">

      <div class="col-md-2 col-xl-4">
        <h5 class="font-weight-normal"><a class="dark-grey-text" href="#">Website Design</a></h5>
        <p class="small grey-text">Responsive, Minimalism</p>
      </div>

      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">Para realizar cualquier publicación, suscripción y compra, es requisito esencial registrarse, 
          identificarse y presentarse como cliente y/o usuario en la página web, actividades que se realizan por medio de una cuenta de correo electrónico y una clave secreta del cliente, 
          la cual es de carácter personal, intransferible y de responsabilidad y custodia exclusiva del cliente. 
          .</p>
      </div>

      <div class="col-md-2 col-xl-4">
        <h5 class="font-weight-normal"><a class="dark-grey-text" href="#">Website Design</a></h5>
        <p class="small grey-text">Responsive, Minimalism</p>
      </div>

      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">Es responsabilidad del cliente cualquier uso que de la clave suministrada se realice,
           la cual no podrá ser transferida o revelada a terceros bajo ningún motivo. Así mismo, 
           el cliente deberá adoptar todas las medidas de seguridad necesarias para evitar el mal uso o el conocimiento de esta por parte de terceros.
           Se recomienda efectuar el cambio de clave de manera periódica.
        </p>
      </div>

      <div class="col-md-3 col-xl-4">
        <h5 class="font-weight-normal"><a class="dark-grey-text" href="#">Website Design</a></h5>
        <p class="small grey-text">Responsive, Minimalism</p>
      </div>

      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">En caso de pérdida, olvido o exposición a terceros de la clave,
          deberá remitirse a la sección de autenticación del sitio web www.redsocialinmobiliarios.com donde hay un link recordar contraseña,
          respecto del cual deberá ir siguiendo las instrucciones. El cliente podrá recuperar su contraseña, a través de su correo electrónico o cambiar la clave.
          Si por algún motivo no logra solucionar el inconveniente debe escribir al e - mail: servicioalcliente@redsocialsai.com.co o llamar a la línea de atención xxxxxxx.
        </p>
      </div>
    </div>

    <hr class="w-header my-4">
     
    <div class="row d-flex justify-content-center">
      <div class="col-md-4 col-xl-4">      
        <p class="font-weight-normal dark-grey-text">ACEPTACIÓN DE LOS TÉRMINOS</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">Al aceptar, hojear y/o usar este Sitio, 
          el usuario admite haber leído y entendido estos Términos de Uso y estar de acuerdo en sujetarse a los mismos y 
          cumplir con todas las leyes y reglamentos aplicables que hagan parte de la Legislación Colombiana. 
          Además, cuando el usuario utilice cualquier servicio suministrado en este Sitio, estará sujeto a las reglas, 
          guías, políticas, términos y condiciones aplicables a dicho servicio en particular. REDSAI. 
          no se responsabiliza de que el material en este Sitio sea apropiado o esté disponible para su uso en otros lugares, 
          estando prohibido su acceso desde territorios donde su contenido sea ilegal. Aquellos que decidan acceder a este Sitio 
          desde otros lugares lo harán bajo su propia iniciativa y es su responsabilidad el sujetarse a las leyes locales que sean aplicables. 
          En caso de que el usuario no esté de acuerdo con estos términos, 
          favor abstenerse de usar este Sitio. Cualquier reclamo con relación a este Sitio y el material en él contenido está regulado por las leyes de Colombia. 
          Estos términos y condiciones están sujetos a cambios sin previo aviso en cualquier momento, 
          bajo el principio de autonomía de la voluntad de REDSAI y a partir de la fecha de modificación de estos términos y condiciones, 
          todas las operaciones que se celebren entre REDSAI. y el usuario se regirán por el documento modificado, 
          lo cual acepta desde ya el Usuario y/o Cliente.
        </p>
      </div>


      <div class="col-md-4 col-xl-4">
        <p class="font-weight-normal dark-grey-text">LAS DISPOSICIONES</p>
      </div>

      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">En caso de que una o más de las disposiciones contenidas en estos Términos y Condiciones sean consideradas nulas, 
          ilegales o ineficaces en cualquier aspecto, la validez, legalidad, 
          exigibilidad o eficacia del resto de las disposiciones aquí contenidas no se verán afectadas o anuladas por dicha circunstancia.</p>
      </div>

      <div class="col-md-4 col-xl-4">
        <p class="font-weight-normal dark-grey-text">REVISIÓN DE LOS TÉRMINOS</p>
      </div>

      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">RED SAI. puede en cualquier momento revisar los Términos de Uso aquí contenidos, 
          cambiar o reajustar. Al usar www. redsocialinmobiliarios.com el usuario conviene en darse por obligado por 
          cualquiera de tales revisiones, las cuales estarán vigentes a partir del momento en que las mismas sean accesibles 
          por los Usuarios, debiendo entonces visitar periódicamente esta página para determinar los términos vigentes en ese 
          momento a los cuales el usuario estará obligado en el evento que decida utilizar este Sitio. 
          De lo contrario lo deberá notificar en forma solemne a REDSAI.</p>
      </div>

      <div class="col-md-4 col-xl-4">
        <p class="font-weight-normal dark-grey-text">DERECHOS DE AUTOR</p>
      </div>

      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">Todo el material informático, gráfico, 
          publicitario, fotográfico, de multimedia, audiovisual y/o de diseño, 
          así como todos los contenidos, textos y bases de datos puestos a su disposición en este Sitio son de propiedad exclusiva de REDSAI. 
          Todos los Contenidos en página web están protegidos por las normas sobre Derechos de Autor y por todas las normas nacionales e 
          internacionales que le sean aplicables. Exceptuando lo expresamente estipulado en estos Términos y Condiciones, queda prohibido 
          todo acto de copia, reproducción, modificación, creación de trabajos derivados, venta o distribución, exhibición de los Contenidos, 
          de ninguna manera o por ningún medio, incluyendo, más no limitado a, medios electrónicos, mecánicos, de fotocopiado, de grabación 
          o de cualquier otra índole, sin el permiso previo por escrito de REDSAI. 
          En ningún caso estos Términos y Condiciones confieren derechos, licencias y/o autorizaciones para realizar los actos anteriormente 
          descritos. Cualquier uso no autorizado de los Contenidos constituirá una violación a los presentes Términos y Condiciones y a las 
          normas vigentes sobre derechos de autor, únicamente se otorga al usuario una licencia y un derecho personal, intransferible y no 
          exclusivo para desplegar la página web www. redsocialinmobiliarios.com en pantalla de un computador ordenador o dispositivo PDA 
          bajo su control, y para copiar los Contenidos de propiedad de REDSAI. única y exclusivamente para uso personal no comercial, 
          con la condición de que el usuario no modifique de ninguna forma los Contenidos y que conserve todas las leyendas de derechos 
          de autor y de otro tipo de propiedad contenidas en los mismos. El usuario se obliga por los presentes Términos y Condiciones a 
          no modificar el software del Sitio de ninguna manera.
        </p>
      </div>


      <div class="col-md-4 col-xl-4">
        <p class="font-weight-normal dark-grey-text">FORMACIÓN Y PERFECCIONAMIENTO</p>
      </div>

      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">El contrato de servicios de REDSAI, 
          se perfecciona solamente cuando el cliente en atención a la oferta realizada por REDSAI presente su aceptación 
          de compra mediante la selección del plan y efectúe el pago según las modalidades de pago ofrecidas en la página.
        </p>
      </div>

      <div class="col-md-4 col-xl-4">
        <p class="font-weight-normal dark-grey-text">TÉRMINO PARA LA ACEPTACIÓN DE LA OFERTA</p>
      </div>

      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">REDSAI., podrá aceptar la venta de forma inmediata o parcial luego de efectuado el 
          pago y confirmada la efectividad del mismo.
        </p>
        <p class="text-muted mb-5 pb-2">PARÁGRAFO PRIMERO: La aceptación se entenderá perfeccionada por medio de un correo 
          electrónico dirigido a la dirección suministrada por parte del cliente que contenga la expresión 
          “muchas gracias por su suscripción” u otra similar. 
          <br>
          Debe tener en cuenta nuestro cliente, que el registro, el suministro de la clave personal a nuestro cliente o la 
          remisión de la información o transacción no significa aceptación de ninguna venta.
        </p>
        <p class="text-muted mb-5 pb-2">PARÁGRAFO SEGUNDO: En el evento que REDSAI por cualquier motivo no acepte la venta 
          formulada de manera total o parcial, procederá a devolver los dineros de forma total o parcial según corresponda, 
          a la cuenta de titularidad del oferente respecto de la cual se realizó el giro del dinero en una cuantía idéntica 
          a la consignada en nuestras cuentas, sin ningún tipo de interés, indemnización u otros rubros o en su defecto a 
          alguna cuanta del titular que de manera solemne certifique por medio de certificación bancaria.
        </p>
        <p class="text-muted mb-5 pb-2">PARÁGRAFO TERCERO: Para la devolución del dinero se observará el medio de pago de 
          la siguiente manera: Para pagos por medio de tarjeta débito, de cuenta de ahorros o corriente, efecty o baloto la 
          devolución se efectuará en un plazo de ocho (8) días hábiles. Pero si el pago se realizó con tarjeta de crédito, 
          la orden de devolución se efectuará en quince (15) días hábiles, sin que exista responsabilidad de REDSAI por 
          las demoras que pueda tener la institución financiera.
        </p>
      </div>

      <div class="col-md-4 col-xl-4">
        <p class="font-weight-normal dark-grey-text">PRECIO</p>
      </div>

      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">El valor total de la compra estará compuesto de los siguientes rubros a cargo del cliente: 
          valor de la suscripción, impuestos y gastos de transporte si fuere el caso.
        <br>
        <br>
        PARÁGRAFO PRIMERO: REDSAI se compromete a revisar constantemente y a actualizar los precios que se mencionan en la página web y 
        a su vez, nuestro cliente y/o usuario, debe estar atento en caso de presentarse alguna fluctuación en los mismos, 
        solo se podrá garantizar el valor del producto al momento efectivo de la compra, de este modo no se aceptaran imágenes que 
        evidencien precios diferentes que pudieren ser exigibles.
        </p>
      </div>

      <div class="col-md-4 col-xl-4">
        <p class="font-weight-normal dark-grey-text">CONDICIONES DE PAGO</p>
      </div>

      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">El pago se efectuará única y exclusivamente por los siguientes medios:.
        <br>
        <br>
        •	Tarjetas crédito
        •	Visa
        •	Diners
        •	Master Card
        •	American Express
        •	Tarjetas débito
        •	Maestro
        •	Electron
        •	Baloto
        •	Efecty
        •	Nequi
        •	Paypal
        <br>
        <br>
        PARÁGRAFO: Antes de la aceptación por parte nuestra de cualquier Oferta de compra, 
        el cliente deberá elegir los términos y condiciones de pago del precio correspondiente, 
        según los medios de pago que se encuentran ya específicamente establecidos en este Sitio. 
        Aun cuando REDSAI ponga a disposición del cliente un sistema de conexión segura para toda la realización de todas las ofertas de compra, 
        en ningún caso será responsable por los fallos en las comunicaciones de las entidades bancarias, de crédito o servicios de conexión a 
        internet, así como tampoco de los daños causados a los usuarios con ocasión de una acción u omisión de dichas entidades.

        <br><br>
        PARÁGRAFO PRIMERO: El boleto emitido para los pagos con Efecty o Baloto tiene una vigencia de 72 horas contadas a partir de su emisión, 
        si antes de este tiempo no se realiza el respectivo pago ante la entidad correspondiente, el pedido quedará cancelado automáticamente.

        <br><br>
        PARAGRAFO SEGUNDO: REDSAI podrá, a su libre discreción y en cualquier tiempo, ofrecer promociones, 
        ofertas o descuentos especiales en las tarifas de los Servicios Específicos, los cuales pueden estar sujetos a términos y 
        condiciones especiales y al cumplimiento de determinados requisitos por parte de los Usuarios. Las promociones, ofertas o 
        descuentos no afectarán a los Servicios Específicos que ya se estén ejecutando, salvo que REDSAI a su libre discreción 
        disponga lo contrario.

        <br><br>

        Las tarifas de los Servicios Específicos podrán ser modificadas, ajustadas o actualizadas en cualquier tiempo y sin previo aviso. 
        Usted reconoce y acepta que esto no le generará un perjuicio o daño y en consecuencia Usted exonera de toda responsabilidad a REDSAI 
        como consecuencia de los actos mencionados en este aparte.

        <br><br>

        Si Usted paga la tarifa, pero no utiliza o utiliza parcialmente los Servicios Específicos y/o Servicios Adicionales, 
        no tendrá derecho a devolución alguna de dinero, por lo que los Servicios se entienden prestados al estar disponibles, 
        aun cuando Usted no haya usado los mismos.

        <br><br>
      </p>
      </div>

      <div class="col-md-4 col-xl-4">
        <p class="font-weight-normal dark-grey-text">RESERVAS POR PARTE DE REDSAI</p>
      </div>

      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">El contrato de servicios de REDSAI, 
          se perfecciona solamente cuando el cliente en atención a la oferta realizada por REDSAI presente su aceptación 
          de compra mediante la selección del plan y efectúe el pago según las modalidades de pago ofrecidas en la página.

          <br><br>
          En virtud de los presentes Términos, REDSAI hace las siguientes reservas y limitaciones de responsabilidad, 
          y Usted por su parte declara aceptarlas:

          <br><br>
          
          REDSAI no garantiza que por el hecho de usar y/o beneficiarse de los Servicios Adicionales de tour virtual (fotografía 360), 
          asesoría y referenciación que REDSAI ha puesto a su disposición, Usted obtendrá automáticamente o necesariamente beneficios 
          o mejores resultados en sus operaciones dentro de la Plataforma, por lo que dichos servicios implican obligaciones de medio 
          y no de resultado. Por lo tanto, Usted se abstendrá de reclamar judicial o extrajudicialmente a CIENCUADRAS, 
          si no se producen los resultados esperados como consecuencia del tour virtual (toma de fotografía 360), 
          implementación de las recomendaciones, consejos, servicios de referenciación y asesoría, por lo que Usted reconoce que este hecho 
          no le genera ningún daño ni perjuicio, pasado, presente, futuro o eventual.

          <br>
          Las recomendaciones o referenciaciones que REDSAI llegara a hacerle respecto de Los Recomendados, no constituye en ningún momento un mandato, 
          representación, garantía, solidaridad, agencia ni asociación de ningún tipo entre REDSAI y Los Recomendados.

          <br><br>
          Recomendamos que Usted lea y estudie detenidamente los términos de las negociaciones que Usted adelante con Los Recomendados, 
          por cuanto REDSAI no tendrá injerencia alguna en los mismos. Usted declara y reconoce que REDSAI no tendrá responsabilidad 
          alguna por cualquier daño, desperfecto, perjuicio, inexactitud o incumplimiento de los servicios o productos ofrecidos, 
          contratados o adquiridos con Los Recomendados, por cuanto su relación comercial será exclusivamente con Los Recomendados 
          y no con REDSAI.

          <br><br>
          REDSAI, en su calidad de titular exclusivo de las Imágenes tomadas por nuestros asesores, podrá utilizar dichas Imágenes para 
          fines publicitarios, de mercadeo, económicos, comerciales y para cualquier otro fin de su negocio, 
          en cualquier medio, tiempo y territorio, sin necesidad de avisarle, notificarlo ni de ofrecerle ninguna compensación o 
          retribución económica o de otro tipo.

          <br><br>

          El lugar o posición que ocupen los Anuncios en los resultados de búsqueda de la Plataforma dependerá de varios factores, 
          incluyendo pero sin limitar, preferencias y criterios de búsqueda digitados por otros Usuarios a través de nuestras herramientas 
          búsqueda, la fecha de publicación del Anuncio, las calificaciones o comentarios de los Anuncios, entre otros; sin que el lugar o 
          posición de su Anuncio en la Plataforma pueda causarle ningún daño ni perjuicio.

          <br><br>

          Cualquiera de los Servicios Adicionales podrán no encontrarse disponibles en algunos territorios o zonas, 
          sin que esto constituya un incumplimiento por parte de REDSAI ni genere derecho o compensación alguna en favor del Usuario 
          Registrado Oferente. Actualmente, los Servicios Adicionales solo estarán disponibles en algunas zonas de la ciudad de Bogotá.

          <br><br>

          REDSAI tendrá la facultad de decidir no prestar algún Servicio Adicional, cuando las condiciones de seguridad, acceso, ubicación, 
          calidades, características y destinación del bien, puedan a juicio de REDSAI poner en riesgo la vida, integridad, bienes y honra 
          de sus asesores o el buen nombre, seguridad, integridad y funcionamiento de la Plataforma.

          <br><br>
          Usted entiende y acepta que REDSAI no representa ni respalda a ningún Usuario que utilice la Plataforma o los Servicios, 
          por lo que Usted reconoce que REDSAI no es responsable en ningún grado en relación por el cumplimiento por parte de ningún 
          Usuario de los acuerdos celebrados entre Usuarios o de las obligaciones de los Usuarios derivadas de los mismos o de la ley.

          <br><br>

          En los eventos que REDSAI advierta por cualquier medio que la oferta inmobiliaria (bien inmueble) no continua disponible, 
          procederá a inactivarla notificando al usuario registrado oferente. Sin que dicha inactivación, le genere remuneración o 
          devolución alguna de dinero en favor de Usted, por cuanto los Servicios se entienden ya prestados.

          <br><br>
          REDSAI se reserva la facultad de suspender o eliminar un Anuncio o algún contenido incluido en éste, 
          en cualquier momento y sin previo aviso, cuando a su buen criterio, REDSAI considere que se han incumplido los Términos o la ley.
        </p>
      </div>

      <div class="col-md-4 col-xl-4">
        <p class="font-weight-normal dark-grey-text">DERECHO DE RETRACTO</p>
      </div>
      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">Todo Usuario que adquiera la calidad de Usuario Oferente Registrado, esto es, 
          que haya pagado el valor de la tarifa para los Servicios Específicos, podrá mediante comunicación dirigida a REDSAI 
          a la dirección electrónica servicioalcliente@redsocialinmobiliarios.com, retractarse de la compra de los Servicios Específicos 
          dentro de los cinco (5) días hábiles contados a partir de la fecha en que se realiza el pago, siempre y cuando no se haya publicado 
          el Anuncio para el que se hizo el pago. La publicación del Anuncio para el que se hizo el pago de la tarifa, se entenderá como la 
          fecha en que se inicia la prestación del servicio, en cuyo caso el Usuario entiende y acepta que su derecho de retracto se ha agotado.
        <br>
        <br>
        Los Servicios Adicionales correrán la misma suerte que los Servicios Específicos, en consecuencia, sólo podrá ejercer el derecho de 
        retracto siempre y cuando la cita para efectos de los Servicios Adicionales no haya sido agendada para tener lugar dentro de los cinco (5) días 
        hábiles siguientes a la fecha de pago del valor de la tarifa para los Servicios Específicos. Si se cumplen con los supuestos para el 
        ejercicio del derecho de retracto, REDSAI contará con treinta días calendario para el reintegro de la tarifa cancelada por el Usuario 
        para el Servicio Específico.
        </p>
      </div>

      <div class="col-md-4 col-xl-4">
        <p class="font-weight-normal dark-grey-text">APLICACIÓN COMPLEMENTARIA DE LOS TÉRMINOS</p>
      </div>

      <div class="col-md-8">
        <p class="text-muted mb-5 pb-2">Lo no contemplado en estos Términos, se regirá por lo establecido en la Política de Tratamiento de Datos 
          Personales y en la Política de Privacidad publicados en la Plataforma, así como por las demás normas legales que apliquen a los 
          Servicios.       
        </p>
      </div>
    </div>

  </section>
  <!-- Section -->

</div>