<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark #1c2331 mdb-color darken-4">
  <div class="container">
  <a class="navbar-brand" routerLink="/home">
    <img src="./assets/Images/logov2.png"  alt="" width="100" height="50">
  </a>
  <!-- Collapse -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenumensajes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-comment"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenumensajes">
          <a class="dropdown-item" ><strong>Mensajes en construcción</strong></a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" ><strong>Hola {{ fullName() }}!</strong></a>
          <a class="dropdown-item" routerLink="/profile">Tu perfil</a>
          <a class="dropdown-item" routerLink="/settings">Configuraciones</a>
          <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
        </div>
      </li>
    </ul>
  </div>
</div>
</nav>

<!--/.Navbar -->